<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.tangcco.tcmp073.qizu.recruit.chatrecord.mapper.ChatrecordMapper">
	<resultMap type="Chatrecord" id="chatrecordMap" autoMapping="true">
		<id column="crid" property="crid"/>
		<association property="ruserid" resultMap="ruserMap" ></association>
		<association property="iuserid" resultMap="iuserMap" ></association>
	</resultMap>
	
	
	<resultMap type="RecruitingUsers" id="ruserMap" autoMapping="true">
		<id column="rid" property="userid"/>
		<result column ="rusername" property="username"/> 
	</resultMap>
	<resultMap type="RecruitingUsers" id="iuserMap" autoMapping="true">
		<id column="iid" property="userid"/>
		<result column ="iusername" property="username"/> 
	</resultMap>
		
  <resultMap type="Chatrecord" id="chatrMap" autoMapping="true">
		<id column="crid" property="crid"/>
		<!-- <result column ="crtime" property="crtime"/>
		<result column ="crtext" property="crtext"/>
		<result column ="crqf" property="crqf"/> -->
		<association property="ruserid" resultMap="ruserMap" ></association>
		<association property="iuserid" resultMap="iuserMap" ></association>
  </resultMap>
  
  
  <!-- SELECT * FROM `recruitingusers` r,`recruitingusers` i,chatrecord c WHERE r.`userid`=c.`ruserid` AND i.`userid`=c.`iuserid`AND c.ruserid=#{ruserid} ORDER BY c.crtime ASC -->
  <select id="queryAllChatrecordByrUserid" resultMap="chatrMap" parameterType="int">
  
  		SELECT
		  r.userid as "rid",
		  r.username as "rusername",
		  i.userid as "iid",
		  i.username as "iusername",
		 c.*
		FROM
		  `recruitingusers` r,
		  `recruitingusers` i,
		  chatrecord c
		WHERE r.`userid` = c.`ruserid`
		  AND i.`userid` = c.`iuserid`
		  AND c.ruserid = #{ruserid} ORDER BY c.crtime ASC
		  	
  </select>
  
  <select id="queryAllChatrecord" resultMap="chatrMap" parameterType="Chatrecord">
  	SELECT
		  r.userid as "rid",
		  r.username as "rusername",
		  i.userid as "iid",
		  i.username as "iusername",
		 c.*
		FROM
		  `recruitingusers` r,
		  `recruitingusers` i,
		  chatrecord c
		WHERE r.`userid` = c.`ruserid`
		  AND i.`userid` = c.`iuserid`
		  AND c.ruserid=#{chatrecord.ruserid.userid} and c.iuserid=#{chatrecord.iuserid.userid} ORDER BY c.crtime ASC
  	<!-- SELECT r.username,r.userid,i.username,i.userid,c.* FROM
  	 `recruitingusers` r,`recruitingusers` i,chatrecord c 
  	 WHERE r.`userid`=c.`ruserid` AND i.`userid`=c.`iuserid`
  	 and c.ruserid=#{chatrecord.ruserid.userid} and c.iuserid=#{chatrecord.iuserid.userid} order by c.crtime asc -->
  </select>
  
  
  
  
</mapper>
