<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.kgc.tangcco.tcmp073.qizu.recruit.company.mapper.CompanyMapper">
	<select id="queryListCompany" parameterType="String" resultMap="CompanyMaps">
		select com.*,occ.* from company com,occupation occ where
		com.cid=occ.ocid and occ.ostate=0
		<if test="ocity!='' and ocity!=null and ocity!='全国'">
			and occ.ocity=#{ocity}
		</if>
		<if test="cfs!=null and cfs!=''">
			AND com.cfs=#{cfs}
		</if>

		<if test="cfield!=null and cfield!=''">
			and com.cfield like concat("%",#{cfield},"%")
		</if>

	</select>
	<select id="queryListCompanylimit" parameterType="String"
		resultMap="CompanyMaps">
		select com.*,occ.* from company com,occupation occ where
		com.cid=occ.ocid and occ.ostate=0
		<if test="ocity!='' and ocity!=null and ocity!='全国'">
			and com.caddress=#{ocity}
		</if>
		<if test="cfs!=null and cfs!=''">
			AND com.cfs=#{cfs}
		</if>

		<if test="cfield!=null and cfield!=''">
			and com.cfield like concat("%",#{cfield},"%")
		</if>

	</select>
	<select id="qyeryAllCompany" parameterType="int" resultMap="CompanyMaps">
		SELECT c.*,f.*,p.* FROM company c,founder f,product p WHERE
		c.cid=f.cfid AND c.cid=p.pcid AND c.cuid=#{cuid}
	</select>
	<resultMap type="Company" id="CompanyMaps" autoMapping="true">
		<id column="cid" property="cid" />
		<collection property="founder" resultMap="FounderMap"></collection>
		<collection property="product" resultMap="ProductMap"></collection>
		<collection property="occupation" resultMap="occupationMap"></collection>
	</resultMap>
	<resultMap type="Occupation" id="occupationMap" autoMapping="true">
		<id column="oid" property="oid" />
		<collection property="education" resultMap="educationMap"></collection>
	</resultMap>
	<resultMap type="Education" id="educationMap" autoMapping="true">
		<id column="eid" property="eid" />
	</resultMap>
	<resultMap type="Founder" id="FounderMap" autoMapping="true">
		<id column="fid" property="fid" />
	</resultMap>
	<resultMap type="Product" id="ProductMap" autoMapping="true">
		<id column="pid" property="pid" />
	</resultMap>
	<select id="queryalltoFounder" resultMap="CompanyMaps">
		SELECT *FROM company
		co,founder f,occupation o,education e WHERE f.cfid=co.cid AND
		e.eid=o.oeducation AND co.cid=o.ocid AND o.ostate=0 limit 10
	</select>
	<select id="queryalltozuixin" resultMap="CompanyMaps">
		SELECT *FROM company
		co,founder f,occupation o,education e WHERE
		f.cfid=co.cid AND
		e.eid=o.oeducation AND co.cid=o.ocid AND o.ostate=0 ORDER BY
		o.orelease DESC limit 10
	</select>
	<select id="querylikeoname" resultMap="CompanyMaps"
		parameterType="String">
		SELECT *FROM company
		co,founder f,occupation o,education e WHERE
		f.cfid=co.cid AND
		e.eid=o.oeducation AND co.cid=o.ocid
		<if test="oname!=null and oname!=''">
			and o.oname like concat('%',#{oname},'%')
		</if>
	</select>
	<select id="querylikeomaxsalary" parameterType="double"
		resultMap="CompanyMaps">
		SELECT *FROM company co,founder f,occupation o,education e
		WHERE f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		o.omaxsalary &lt;=#{omaxsalary} AND o.ominsalary &gt;=#{ominsalary}
	</select>
	<select id="querylikeolog" parameterType="String" resultMap="CompanyMaps">
		SELECT *FROM company co,founder f,occupation o,education e WHERE
		f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		o.olog=#{olog}

	</select>
	<select id="querylikeename" resultMap="CompanyMaps"
		parameterType="String">
		SELECT *FROM company co,founder f,occupation o,education
		e WHERE
		f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		e.ename=#{ename}
	</select>
	<!-- aaa -->
	<select id="querylikeonature" resultMap="CompanyMaps"
		parameterType="int">
		SELECT *FROM company co,founder f,occupation o,education
		e WHERE
		f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		o.onature=#{onature}
	</select>
	<select id="querylikeorelease" resultMap="CompanyMaps"
		parameterType="int">
		SELECT *FROM company co,founder f,occupation o,education
		e WHERE f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		DATEDIFF(orelease,NOW())&lt;=0 AND
		DATEDIFF(orelease,NOW())&gt;#{orelease}
	</select>
	<select id="queryByUid" parameterType="int" resultMap="CompanyMaps">
		select *
		from company where cuid=#{cuid}
	</select>
	<!-- 许茂峰 -->
	<select id="queryCompanyByCid" resultMap="CompanyMaps"
		parameterType="int">
		SELECT * FROM `company` WHERE cid=#{cid}
	</select>
	<select id="querytooccname" resultMap="CompanyMaps"
		parameterType="String">
		SELECT *FROM company co,founder f,occupation o,education
		e WHERE
		f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid AND
		o.oname=#{ocname}
	</select>
	<select id="querytoZuhe" parameterType="ZuHe" resultMap="CompanyMaps">
		SELECT *FROM company co,founder f,occupation o,education e
		WHERE f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid 
		<if test="o.omaxsalary!=null and o.omaxsalary>0">
		AND o.omaxsalary&gt;=#{zuhe.occupation.omaxsalary}
		</if>
		<if test="o.ominsalary!=null and o.ominsalary>0">
		 AND o.ominsalary &lt;=#{zuhe.occupation.ominsalary}
		</if>
		<if test="o.olog!=null and o.olog!=''">
		 AND o.olog=#{zuhe.olog}
		</if>
		<if test="e.ename!=null and e.ename!=''">
		AND
		e.ename=#{zuhe.ename}
		</if>
		<if test="o.onature!=null and o.onature>0">
		AND o.onature=#{zuhe.onature}
		</if>
		<if test="o.ocity!=null and o.ocity!=''">
		AND o.ocity=#{zuhe.ocity}
		</if>
		<if test="zuhe.orelease!=null and zuhe.orelease>0">
		 AND DATEDIFF(zuhe.orelease,NOW())&lt;=0 AND
		DATEDIFF(zuhe.orelease,NOW())&gt;#{zuhe.orelease}
		</if>
		 

	</select>

</mapper>
