<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.kgc.tangcco.tcmp073.qizu.recruit.company.mapper.CompanyMapper">
	<select id="qyeryAllCompany" parameterType="int" resultMap="CompanyMaps">
		SELECT c.*,f.*,p.* FROM company c,founder f,product p WHERE
		c.cid=f.cfid AND c.cid=p.pcid AND c.cuid=#{cuid}
	</select>
	<resultMap type="Company" id="CompanyMaps" autoMapping="true">
		<id column="cid" property="cid" />
		<collection property="founder" resultMap="FounderMap"></collection>
		<collection property="product" resultMap="ProductMap"></collection>
		<collection property="occupation" resultMap="occupationMap"></collection>
	</resultMap>
	<resultMap type="Occupation" id="occupationMap" autoMapping="true">
		<id column="oid" property="oid" />
		<collection property="education" resultMap="educationMap"></collection>
	</resultMap>
	<resultMap type="Education" id="educationMap" autoMapping="true">
		<id column="eid" property="eid" />
	</resultMap>
	<resultMap type="Founder" id="FounderMap" autoMapping="true">
		<id column="fid" property="fid" />
	</resultMap>
	<resultMap type="Product" id="ProductMap" autoMapping="true">
		<id column="pid" property="pid" />
	</resultMap>
	<select id="queryalltoFounder" resultMap="CompanyMaps">
		SELECT *FROM company
		co,founder f,occupation o,education e WHERE f.cfid=co.cid AND
		e.eid=o.oeducation AND co.cid=o.ocid
	</select>
	<select id="queryalltozuixin" resultMap="CompanyMaps">
		SELECT *FROM company co,founder f,occupation o,education e WHERE
		f.cfid=co.cid AND e.eid=o.oeducation AND co.cid=o.ocid ORDER BY
		o.orelease DESC

	</select>

</mapper>
